body {
    background-color: orange;
    color: navy;
}
h1 {
    background-color: pink;
    color: chocolate;
    text-align: center;
    border: 8px solid green;
    border-radius: 16px;
    margin: 20px;
}
.welcome {
    background-color: ivory;
    color: darkorange;
    border: 16px dashed red;
    border-radius: 20px;
    font-size: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}