body {
    background-color: orange;
    color: navy;
}
h1 {
    background-color: pink;
    color: chocolate;
    text-align: center;
    border: 8px solid green;
    border-radius: 16px;
    margin: 20px;
}
.welcome {
    background-color: ivory;
    color: darkorange;
    border: 16px dashed red;
    border-radius: 20px;
    font-size: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#abv {
    background-color: red;
    color: yellow;
}

#w3s {
    background-color: green;
    color: cyan;
}

#demo {
    background-color: magenta;
    color: chartreuse;
}

#acos, #acosh {
    background-color: yellow;
    color: blue;
}

#button1 {
    background-color: #ccffcc;
    color: #660066;
    border: 8px solid #0000ff;
}

#button1field {
    background-color: #cc00cc;
    color: #003300;
    border: 8px solid #66ffff;
    animation: alternate-reverse;
}
