body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffa500;
    color: #1A0A53;
}
h1 {
    text-align: center;
    margin-top: 50px;
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: chocolate;
}
#time {
    display: block;
    text-align: center;
    margin-top: 20px auto;
    font-size: 1.2em;
    color: #008000;
    background-color: #00ffff;
    padding: 10px;
    border-radius: 5px;
    border: 8px solid #003366;
    transition: transform 0.1s;
    cursor: pointer;
}
#theme-toggle {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 1.2em;
    background-color: #ff00ff;
    color: #fffff0;
    padding: 10px;
    border-radius: 5px;
    border: 8px solid #ccffff;
    transition: transform 0.1s;
    cursor: pointer;
}
#golden-ticket {
    background: linear-gradient(45deg, #ffd700, #fff5b7, #ffcc00);
    color: #3d1c0c;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    border: 2px dashed #3d1c0c;
    position: absolute;
    z-index: -1;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(0);
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

@media print {
    body *, header, nav, button, section, footer {
        display: none;
    }

    #checkout-modal, #golden-ticket {
        display: block;
        position: relative;
        background: white;
        color: black;
        border: 2px solid gold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }

    #golden-ticket {
        width: 300px;
        padding: 20px;
        font-size: 1.5em;
    }
}