body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffa500;
    color: #1A0A53;
}
h1 {
    text-align: center;
    margin-top: 50px;
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: chocolate;
}
time {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #1A0A53;
}   